@import url('https://fonts.cdnfonts.com/css/futura-pt');

:root {
--cornflower-light:#5D71DD0D;
--cornflower:#5D71DD;
--gray-light:#2F22221A;
--gray:#2F222266;
--black: #2F2222;
--white:#fff;
}




.banner {
  width: 100%; 
  background-image: url('./images/banner.jpg'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
}
.logo{
  position:relative;
  width: 50px;
  height: 48px;  
  }
  .circle {
      border-radius: 50%;
      position: absolute; 
    }
  
    .circle--large {
      width: 48px;
      height: 48px;
      background-color:var(--cornflower);
      opacity: 1; 
      z-index: 1;
    }
      .circle--small {
      width: 26px;
      height: 26px;
      background-color: var(--white);
      bottom: 0;
      left: 24px;
      z-index: 2; 
      box-shadow: 0px 4px 4px 0px rgba(57, 70, 136, 0.18);
    }

    .news{
      display: grid ;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 280px repeat(6, 200px);
      gap: 20px;
    }

    .news__item:nth-child(1) {
      grid-column: span 3 / span 3;
      }
      .news__item:nth-child(2){    grid-column: span 2 / span 2;
        grid-row: span 2 / span 2;
        grid-row-start: 2;}
        .news__item:nth-child(3){      grid-row: span 2 / span 2;
          grid-column-start: 3;
          grid-row-start: 2;
        }

        .news__item:nth-child(4){  grid-row: span 2 / span 2;
          grid-row-start: 4;
        }

        .news__item:nth-child(5){ grid-column: span 2 / span 2;
          grid-row-start: 4;
        }
        .news__item:nth-child(6)
        { grid-column: span 2 / span 2;
          grid-column-start: 2;
          grid-row-start: 5;
        }

        .news__item:nth-child(7)
      {
          grid-column: span 2 / span 2;
          grid-row: span 2 / span 2;
          grid-row-start: 6;
      }

      .news__item:nth-child(8) {
          grid-row: span 2 / span 2;
          grid-column-start: 3;
          grid-row-start: 6;
      }
      
      .news__item:nth-child(9) {
          grid-row: span 2 / span 2;
          grid-row-start: 8;
      }
      
      .news__item:nth-child(10) {
          grid-column: span 2 / span 2;
          grid-row-start: 8;
      }
      
      .news__item:nth-child(11){
          grid-column: span 2 / span 2;
          grid-column-start: 2;
          grid-row-start: 9;
      }

     .news__item{
    background-color: var(--white);
      border-radius: 20px;
         }
        .news__header{
          font-size: 16px;
          font-weight: 400;
          line-height: 20.51px;
         }
         .news__category{
          background: var(--cornflower-light);
         padding:8px 16px;
         border-radius:8px;
      color:var(--cornflower);
         }

         .news__date{
color:var(--gray);
         }

       .news__title{
        color:var(--black);
        font-size: 24px;
        font-weight: 450;
        line-height: 30.77px;
            
       }
    .news__text{
      color:var(--gray);
      font-size: 18px;
      font-weight: 400;
      line-height: 23.08px;
           }
   


        






       





.footer{
    display:flex;
    justify-content: center;
    background: rgba(93, 113, 221, 0.05);
}

