.banner {
  width: 100%; 
  background-image: url('./images/banner.webp'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
}
.logo{
  position:relative;
  width: 50px;
  height: 48px;  
  }
  .circle {
      border-radius: 50%;
      position: absolute; 
    }
  
    .circle--large {
      width: 48px;
      height: 48px;
      background-color: #5D71DD;
      opacity: 1; 
      z-index: 1;
    }
      .circle--small {
      width: 26px;
      height: 26px;
      background-color: #fff; 
      bottom: 0;
      left: 24px;
      z-index: 2; 
      box-shadow: 0px 4px 4px 0px rgba(57, 70, 136, 0.18);
    }

    .news{
      display: grid ;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 280px repeat(6, 400px);
    }

    .news__item:nth-child(1) {
      grid-column: span 3; 
      height: 280px;}
      .news__item:nth-child(2),
      .news__item:nth-child(n+7):nth-child(5n+2) {  grid-column: span 2; 
        height: 400px;}
        .news__item:nth-child(3),
        .news__item:nth-child(n+8):nth-child(5n+3){     grid-column: span 1; 
          height: 400px;
        }

        .news__item:nth-child(4),
        .news__item:nth-child(n+9):nth-child(5n+4){ grid-column: span 1; 
          height: 400px;
        }

        .news__item:nth-child(5),
        .news__item:nth-child(n+10):nth-child(5n+5){ grid-column: span 2; 
          height: 180px;
        }
        .news__item:nth-child(6),
        .news__item:nth-child(n+11):nth-child(5n+6){ grid-column: span 2; 
          height: 180px;
        }










.footer{
    display:flex;
    justify-content: center;
    background: rgba(93, 113, 221, 0.05);
}

