@import url('https://fonts.cdnfonts.com/css/futura-pt');

:root {
--cornflower-light:#5D71DD0D;
--cornflower:#5D71DD;
--cornflower-extra:#7D8DE4;
--gray-light:#2F22221A;
--gray:#2F222266;
--black: #2F2222;
--white:#fff;
--white-light: #FFFFFF33;
}
body {
  font-family: 'Futura PT', sans-serif;                                                
}
.container{
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
 }
 .wrapper{display:flex;}
.main{background-color: var(--gray-light);}
.banner {
  width: 100%; 
  height:300px;
  background-image: url('../images/banner.jpg'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
}
.header>div{
  display: flex;
  align-items: center;
justify-content: space-between;
height:70px;

}
a{ transition: color 0.3s, text-decoration 0.3s;}
.nav a{color:var(--black);}
.nav--header{display: flex;
      width: 524px;
      justify-content: space-between;}
  .nav__list{    display: flex;
        justify-content: space-around;   
        flex-grow: 1;}    
        .nav__link  { 
          font-size: 18px;
font-weight: 400;
line-height: 23.08px;
        }
        .nav__link:hover{
          color:var(--cornflower);
          text-decoration:underline;
        }
.phone--header a{color:var(--cornflower);
  font-size: 18px;
  font-weight: 450;
  line-height: 23.08px;
  text-decoration:none;
  }

.nav a{text-decoration:none;}
.logo{
  position:relative;
  width: 50px;
  height: 48px;  
  }
  .circle {
      border-radius: 50%;
      position: absolute; 
    }
  
    .circle--large {
      width: 48px;
      height: 48px;
      background-color:var(--cornflower);
      opacity: 1; 
      z-index: 1;
    }
      .circle--small {
      width: 26px;
      height: 26px;
      background-color: var(--white);
      bottom: 0;
      left: 24px;
      z-index: 2; 
      box-shadow: 0px 4px 4px 0px rgba(57, 70, 136, 0.18);
    }

    .news{
      margin:40px 0;
      display: grid ;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 280px repeat(6, 200px);
      gap: 40px;
    }

 
    .news__item:nth-child(1) {
      grid-column: span 3 / span 3;
      }
      .news__item:nth-child(2){    grid-column: span 2 / span 2;
        grid-row: span 2 / span 2;
        grid-row-start: 2;}
        .news__item:nth-child(3){      grid-row: span 2 / span 2;
          grid-column-start: 3;
          grid-row-start: 2;
        }

        .news__item:nth-child(4){  grid-row: span 2 / span 2;
          grid-row-start: 4;
        }

        .news__item:nth-child(5){ grid-column: span 2 / span 2;
          grid-row-start: 4;
        }
        .news__item:nth-child(6)
        { grid-column: span 2 / span 2;
          grid-column-start: 2;
          grid-row-start: 5;
        }

        .news__item:nth-child(7)
      {
          grid-column: span 2 / span 2;
          grid-row: span 2 / span 2;
          grid-row-start: 6;
      }

      .news__item:nth-child(8) {
          grid-row: span 2 / span 2;
          grid-column-start: 3;
          grid-row-start: 6;
      }
      
      .news__item:nth-child(9) {
          grid-row: span 2 / span 2;
          grid-row-start: 8;
      }
      
      .news__item:nth-child(10) {
          grid-column: span 2 / span 2;
          grid-row-start: 8;
      }
      
      .news__item:nth-child(11){
          grid-column: span 2 / span 2;
          grid-column-start: 2;
          grid-row-start: 9;
      }

     .news__item{
      padding:40px;
      border-radius: 20px;
      display:flex;
      flex-direction:column;
      position: relative;
         }
         .news__item--text{
          background-color: var(--white);
         }
         .news__item--color{
          background-color: var(--cornflower);
          }

          .news__item--picture{
            background-size: cover; 
            background-position: center;
            background-repeat: no-repeat; 
          }
          .news__item--picture-first   { background-image: url('../images/1.jpg'); }
          .news__item--picture-second { background-image: url('../images/2.jpg'); }
    
    
        .news__header{
          font-size: 16px;
          font-weight: 400;
          line-height: 20.51px;
          display: flex;
    justify-content: space-between;
    align-items: center;
         }
         .news__category{
          background: var(--cornflower-light);
         padding:8px 16px;
         border-radius:8px;
      color:var(--cornflower);
         }  
         
         .news__item--color .news__header{
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: calc(100% - 80px);
         }

  .news__item--picture .news__header{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 80px);
         }


        .news__item--color .news__category {
color:var(--white);
background:var(--cornflower-extra) ;
         }
         .news__item--picture .news__category {
    color:var(--white);
    background:var(--white-light);
         }
         .news__date{
color:var(--gray);
         }
         .news__item--color  .news__date{
          color:var(--white);
         }
         .news__item--color .news__title{margin:20px 0;}
         
         .news__item--color  .news__title{
          color:var(--white);
          margin-top:80px;
         } 

         .news__item--picture .news__date{
          color:var(--white);
         }
         .news__item--picture .news__title{
          color:var(--white);
          margin-top:80px;
         }
       .news__title{
        color:var(--black);
        font-size: 24px;
        font-weight: 450;
        line-height: 30.77px;
            
       }
    .news__text{
      color:var(--gray);
      font-size: 18px;
      font-weight: 400;
      line-height: 23.08px;
           }
   


        






       





.footer{
    display:flex;
    justify-content: center;
    background: rgba(93, 113, 221, 0.05);
}
